@font-face{
    font-family: 'italian';
    src: url(./WISE.otf);
}

html {
    width: 100%;
    height: 100%;
    --bg-color: #fb923c;
    --main: #fdba74;
    --text: #7c2d12;
    --accent: #ffedd5;
    --border: 2px solid #7c2d12;
    font-family: 'italian';

}

body {
    margin: 0;
    width: 100%;
    height: fit-content;
    background-image: url(./pizza.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

#mainContent {
    height: 100%;
}

header {
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: min-content;
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    font-weight: bolder;
    border-bottom: 5px solid var(--accent); 
}

header h1 {
    text-shadow: -1px -1px 0 var(--accent), -1px 1px 0 var(--accent), 1px 1px 0 var(--accent), 1px -1px 0 var(--accent);
}

.linkContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.tabDiv {
    background-color: var(--accent);
    width: 20%;
    height: 50px;
    justify-self: flex-end;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabDiv:first-child {
    background-color: var(--bg-color);
    color: var(--accent);
}

.tabDiv:hover {
    background-color: var(--bg-color);
    color: var(--accent);
    cursor: pointer;
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

h2 {
    font-size: 2.5em;
    color: var(--bg-color);
    margin-bottom: 0px;
    text-shadow: -1px -1px 0 var(--accent), -1px 1px 0 var(--accent), 1px 1px 0 var(--accent), 1px -1px 0 var(--accent);
    letter-spacing: 2px;
}

.defaultImg {
    width: 70%;
    height: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 5px solid var(--accent);
}

.bodyContent {
    padding: 20px;
    width: 30%;
    height: 800px;
    font-size: 1.8em;
    font-weight: bolder;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    border: 5px solid var(--accent);
    background-color: rgba(255, 190, 111, 0.85);
    margin-bottom: 200px;
}

.menuContent {
    width: 50%;
    height: 80%;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 100px;
    color: var(--text);
}

.menuContent img {
    width: 70%;
    transition: .5s;
    border: 5px solid var(--accent);
}

.menuContent img:hover {
    width: 80%;
    cursor: pointer;
}

.menuContent > div {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 190, 111, 0.85);
    text-align: center;
    position: relative;
    border: 5px solid var(--accent);

}

.menuText {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: var(--bg-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    bottom: -50px;
    border: 5px solid var(--accent);
    border-top: none;
}

.contactContent {
    width: 50%;
    background-color: rgba(255, 190, 111, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--accent);
    padding-bottom: 50px;
    padding-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 100px;
}

.contactContent > img {
    width: 90%;
    border: 5px solid var(--accent);
}

.contactInfo {
    width: 90%;
}

.info {
    width: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.info img {
    margin-right: 20px;
    height: 30px;
}

footer {
    height: 50px;
    background-color: var(--main);
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--text);
    border-top: 5px solid var(--accent);
}