html {
    width: 100%;
    height: 100%;
    --bg-color: #fb923c;
    --main: #fdba74;
    --text: #7c2d12;
    --accent: #ffedd5;
    --border: 2px solid #7c2d12;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(./pizza.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#mainContent {
    height: 100%;
}

header {
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: min-content;
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}

.linkContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.tabDiv {
    background-color: var(--accent);
    width: 20%;
    height: 50px;
    justify-self: flex-end;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabDiv:first-child {
    background-color: var(--bg-color);
    color: var(--accent);
}

.tabDiv:hover {
    background-color: var(--bg-color);
    color: var(--accent);
    cursor: pointer;
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.defaultImg {
    width: 70%;
    height: 200px;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: 0 0 .5em .5em var(--bg-color);
}

.bodyContent {
    opacity: .75;
    padding: 20px;
    width: 30%;
    height: 80%;
    font-size: 1.8em;
    font-weight: bolder;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuContent {
    width: 50%;
    height: 80%;
    background-color: var(--accent);
    opacity: .75;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 100px;
}

.menuContent img {
    width: 100%;
    position: absolute;
    top: 0;
}

.menuContent div {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main);
    text-align: center;
    position: relative;

}

.menuContent p {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: var(--bg-color);
    position: absolute;
    bottom: -25px;
}

footer {
    height: 50px;
    background-color: var(--main);
    width: 100%;
    display: flex;
    justify-content: center;
}